.content {
  margin: 0 15px;
}
.content .listItem {
  background: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 15px;
}
.content .listItem .assetsimg {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.content .listItem .assetstitle {
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  color: #000;
}
.content .listItem .assetsbox {
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.content .listItem .assetsbox .amount {
  color: #cf4b04;
}
.content .listItem .assetsbox .amounttitle {
  color: #000;
}
.textover {
  overflow: hidden;
  text-overflow: ellipsis;
}
