.detailheader {
  width: 100%;
  position: absolute;
  background: #a62201;
  height: 40px;
  text-align: center;
  font-size: 20px;
  z-index: 10;
}
.detailheader .headertitle {
  color: #fdfa00;
}
.detailcontent {
  position: relative;
  top: 50px;
  height: 415px;
  overflow: scroll;
}
.detailcontent .detailcontent-box {
  width: 92%;
  margin: 0 4%;
}
.item {
  background: #FFF;
  padding: 10px 0;
}
.item .center {
  font-size: 14px;
  text-align: center;
}
.item .detailnum {
  color: #cf4b04;
  font-weight: bold;
  text-align: left;
}
.detailbuttom {
  width: 92%;
  position: absolute;
  height: 100px;
  margin: 0 4%;
  bottom: 0px;
}
.detailbuttom .detailsave {
  background-color: #2a3193;
  color: #FFF;
}
.detailbuttom .detailwithdraw {
  background-color: #49a398;
  color: #FFF;
}
