.financial {
  background-color: #ffffff;
  margin: 10px 0 20px 0;
  box-shadow: 0px 2px 4px #a3a1a1, 0px 2px 6px rgba(163, 161, 161, 0.04);
  color: black;
  font-weight: bold;
}
.financial .financial-box .financial-header {
  background-color: #303030;
}
.financial .financial-box .financial-header p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  letter-spacing: 1px;
  margin: 0 !important;
}
.financial .financial-box .financial-contet {
  width: 100%;
  padding-bottom: 10px;
}
.financial .financial-box .financial-contet img {
  width: 100%;
}
.financial .financial-box .fixedprod-contet {
  width: 100%;
  height: 120px;
}
.financial .financial-box .fixedprod-contet img {
  width: 100%;
}
.financial .financial-box .financial-mindle {
  background-color: #f8cbad;
  padding: 40px 0 15px 0;
}
.financial .financial-box .financial-mindle p {
  margin: 0 0 8px 0 !important;
  text-align: center;
}
.financial .financial-box .financial-mindle .financial-rate {
  color: #fc210a;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 20px 0 10px 0;
}
.financial .financial-box .financial-mindle .financial-date {
  padding-top: 10px;
  font-weight: bold;
}
.financial .financial-box .financial-info div {
  width: 70%;
  margin: 0 15%;
  padding: 5px 0;
}
.financial .financial-box .financial-info div p {
  text-align: center;
  background-color: #ffc000;
  padding: 5px 0;
  font-size: 16px;
}
.financial .financial-box .financial-info div p span {
  color: #fc210a;
  margin-right: 5px;
}
.financial .financial-box .financial-bottom .financial-bottom-box {
  width: 90%;
  margin-left: 10%;
  display: flex;
  font-size: 12px;
  padding-bottom: 10px;
}
.financial .financial-box .financial-bottom .financial-bottom-box .financial-bottom-left {
  padding-right: 10px;
}
.financial .financial-box .financial-bottom .financial-bottom-box .financial-bottom-left p {
  border-radius: 3px;
  background-color: #ed761e;
  color: #fff;
  margin: 0 !important;
  padding: 2px;
}
.financial .financial-box .financial-bottom .financial-bottom-box .financial-bottom-left .text {
  background-color: #ffffff;
  color: #ed761e;
  margin: 0 !important;
  padding: 2px;
}
.financial .financial-box .financial-bottom .financial-bottom-box .financial-bottom-right {
  width: 70% !important;
}
.financial .financial-box .financial-bottom .financial-bottom-box .financial-bottom-right p {
  word-wrap: break-word !important;
  word-break: normal;
  margin: 0 !important;
  line-height: 16px;
}
.financial .financial-box .financial-bottom .financial-bottom-box1 {
  width: 90%;
  margin-left: 10%;
  display: flex;
  font-size: 12px;
}
.financial .financial-box .financial-bottom .financial-bottom-box1 p {
  background-color: #ed761e;
  color: #fff;
  margin: 0 !important;
  margin-bottom: 2px !important;
  padding: 2px;
}
.Terms {
  text-align: left;
}
.Terms p {
  margin: 0 !important;
  text-indent: 30px;
  padding-bottom: 5px;
}
.Terms .Terms-title {
  text-indent: 0px !important;
}
.Terms-center {
  text-align: center;
  font-size: 14px;
}
.am-modal-body {
  max-height: 400px !important;
  overflow: scroll;
}
.commodity {
  padding-bottom: 20px;
}
