.fixedprodList {
  padding: 0 0 30px 0 !important;
}
.fixedprodList li {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  border-bottom: 1px solid #ccc;
}
.fixedprodList li .item {
  display: flex;
  text-align: center;
}
.fixedprodList li .item div {
  flex: 1;
}
.InterestTable {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  height: 204px;
}
.InterestTable .InterestTableitem {
  width: 33.33%;
  background: #ffffff;
  position: relative;
  float: left;
  text-align: center;
}
.fixedprodtitle {
  margin-top: 10px;
}
.fixedprodtitle h2 {
  text-align: center;
}
.rate-detail {
  background-color: #cf4b04;
  padding: 10px 0;
}
.rate-detail p {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  margin: 0 !important;
}
.deposit {
  background-color: #fff2cc;
  padding: 15px 0;
}
.deposit div {
  width: 90%;
  margin: 0 5%;
}
.deposit .deposit-text {
  display: flex;
}
.deposit .deposit-text .deposit-left {
  flex: 2;
  text-align: left;
}
.deposit .deposit-text .deposit-left p {
  margin: 0 !important;
  padding: 5px 0;
  font-size: 16px;
}
.deposit .deposit-text .deposit-right {
  flex: 3;
  text-align: right;
}
.deposit .deposit-text .deposit-right p {
  margin: 0 !important;
  padding: 5px 0;
  font-size: 16px;
}
.deposit .deposit-btn p {
  text-align: center;
  border: 1px solid #cf4b04;
  margin: 0 !important;
  padding: 5px 0;
  font-size: 16px;
}
.deposit .deposit-btn p span {
  color: #fc210a;
  margin-right: 10px;
  float: right;
}
.Depositguide {
  padding: 0 0 0 20px !important;
}
.Depositguide li p {
  font-size: 12px;
  text-align: left;
  margin: 0 0 5px 0 !important;
}
.Depositguide li p span {
  color: #fc210a;
}
.custom-pagination-with-icon .am-button {
  line-height: 28px !important;
  border: none !important;
}
