.am-wingblank.am-wingblank-lg {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.am-tab-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.am-tab-bar-bar {
    height: 70px !important;
    background-color: #3f3c3b;
}

.tabcontent-box {
    margin: 0 15px;
}

.tabcontent-box img {
    margin: 0 15px;
}
.tabcontent-box .logo {
    margin: 0 45px;
    height: 50px;
}

.header {
    text-align: center;
    background-color: #cf4b04;
    padding: 10px 0 0 0;
    height: 100px;
}

.title {
    position: relative;
    text-align: right;
    margin: 0;
    margin-right: 30px;
    top: -60px;
    color: white;
    font-size: 14px;
}
.content .listItem {
    background: #ffffff;
}
/* body{
    background:#c9c7c7;
} */
::-webkit-scrollbar {
    display: none
}