.App {
    text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: #d2f8f8;
    color: #cccccc;
}

.am-list-content {
    flex: 1 1;
    color: #cccccc !important;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 7px;
    padding-bottom: 7px;
}

.listheader {
    text-align: center;
    background-color: #1f9b9b;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
}

.listheader  .am-flexbox-item {
    margin-left: 0px !important;
}
.header{
    text-align: center;
    padding: 10px 0 0 0;
}
.title{
    position: absolute;
    right: 30px;
    top: 85px;
    color: black;
    font-size: 16px;
}
.exchange{
    color: #1f9b9b;
}
.changAccount{
    color: black;
    font-size: 16px;
}
.changAccount-name{
    padding: 5px 0;
    border: 1px solid #1f9b9b;
}