.mytabbox {
  margin: 0 15px;
  margin-top: 10px;
  color: #000000;
}
.mytabbox .mytabboxs {
  width: 100%;
}
.mytabbox .mytabboxs .mytabbox-item {
  width: 100%;
}
.mytabbox .mytabboxs .mytabbox-item .textover {
  width: 100%;
  word-wrap: break-word !important;
}
.mytabbox .am-list-content {
  white-space: normal;
  color: #000 !important;
}
.mytabbox .am-list-item .am-list-line .am-list-content {
  white-space: normal;
}
